body {
	background-image: url(../img/bg.jpg);
}

#wrapper { 
	position: relative;
	width: 1030px;
	height: auto;
	min-height: 100px;
	left: 50%;
	margin-left: -535px;
}

header {
	position: relative;
	float: left;
	width: 1030px;
}

nav {
	position: relative;
	float: left;
	width: 100%;
}

header h1 {
	width: 276px;
	height: 137px;
	background: url(../img/spritesheet.png) -400px -500px;
	display: block;
	text-indent: -9999em;
	float: left;
	font-size: 1px;
}

header h1 a,
header h1 a:visited,
header h1 a:active,
header h1 a:hover {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 148px;
	font-size: 1px;
}

#lang-switchers {
	width: 116px;
	height: 40px;
	position: relative;
	float: left;
	overflow: hidden;
	left: 470px;
	top: 50px;
}

.lang-switch a {
	width: 116px;
	height: 20px;
	overflow: hidden;
	display: block;
	text-indent: -9999em;
}

.lang-switch a.to-fr {
	background: url(../img/spritesheet.png) no-repeat -1500px -500px;
}

.lang-switch a.to-fr:hover, .lang-switch a.to-fr.selected {
	background: url(../img/spritesheet.png) no-repeat -1500px -525px;
}

.lang-switch a.to-en {
	background: url(../img/spritesheet.png) no-repeat -1500px -550px;
}

.lang-switch a.to-en:hover, .lang-switch a.to-en.selected {
	background: url(../img/spritesheet.png) no-repeat -1500px -575px;
}

nav.top {
	/*background-color: #CCC;*/
	height: 100px;
	overflow: hidden;
	margin-top: -50px;
	padding-left: 10px;
}

nav.top ul, .submenu {
	margin: 0; 
	padding: 0;
	font-family : Comic Sans MS, Comic Sans MS5, cursive, Arial;
}

nav.top ul a, 
nav.top ul a:visited,
nav.top ul a:active,
nav.top ul a:hover {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
}   

nav.top ul a.smaller {
	font-size: 9px;
	line-height: 9px;
	padding-top: 27px;
}

li.menu {
	list-style: none;
	display: inline;
	float: left;
}

ul.submenu {
	list-style: none;
	position: absolute;
	display: block;
	display: none;
}

ul.submenu a {
	position: relative;
	display: block;
	text-align: center;
	margin-top: -5px;
	padding: 0px;
	height: 20px;
	background: none;
}

.menu-item {
	position: relative;
	display: block;
}

.menu-item-0 > span a {
	position: relative;
	font-weight: bold;
	width: 95px;
	display: block;
	text-align: center;
	margin-top: 60px;
	padding-top: 18px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -58px;
	overflow: hidden;
	color: #16AFE8;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
}

.menu-item-0 > span a:hover, .menu-item-0 > span a.selected { 
	background-position: -100px -58px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

.menu-item-1 > span a {
	position: relative;
	font-weight: bold;
	width: 120px;
	display: block;
	text-align: center;
	margin-top: 60px;
	padding-top: 15px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -158px;
	overflow: hidden;
	color: #ED3F24;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
}

.menu-item-1 > span a:hover, .menu-item-1 > span a.selected  { 
	background-position: -125px -158px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

.menu-item-2 > span a {
	position: relative;
	font-weight: bold;
	width: 80px;
	display: block;
	text-align: center;
	margin-top: 50px;
	padding-top: 18px;
	padding-right: 20px;
	padding-left: 20px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -248px;
	overflow: hidden;
	color: #D5941E;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.menu-item-2 > span a:hover, .menu-item-2 > span a.selected { 
	background-position: -125px -248px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

.menu-item-3 > span a {
	position: relative;
	font-weight: bold;
	width: 74px;
	display: block;
	text-align: center;
	margin-top: 40px;
	padding-top: 27px;
	padding-left: 5px;
	padding-right: 15px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -337px;
	overflow: hidden;
	color: #2FA8DB;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.menu-item-3 > span a:hover, .menu-item-3 > span a.selected { 
	background-position: -100px -337px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

.menu-item-4 > span a {
	position: relative;
	font-weight: bold;
	width: 84px;
	display: block;
	text-align: center;
	margin-top: 40px;
	margin-left: -9px;
	padding-top: 25px;
	padding-left: 5px;
	padding-right: 5px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -437px;
	overflow: hidden;
	color: #DE78CB;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.menu-item-4 > span a:hover, .menu-item-4 > span a.selected { 
	background-position: -100px -437px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

.menu-item-5 > span a {
	position: relative;
	font-weight: bold;
	width: 72px;
	display: block;
	text-align: center;
	margin-top: 40px;
	padding-top: 23px;
	padding-left: 7px;
	padding-right: 12px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -537px;
	overflow: hidden;
	color: #009245;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.menu-item-5 > span a:hover, .menu-item-5 > span a.selected { 
	background-position: -100px -537px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

.menu-item-6 > span a {
	position: relative;
	font-weight: bold;
	width: 68px;
	display: block;
	text-align: center;
	margin-top: 40px;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -637px;
	color: #9D128E;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.menu-item-6 > span a:hover, .menu-item-6 > span a.selected { 
	background-position: -100px -637px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

.menu-item-7 > span a {
	position: relative;
	font-weight: bold;
	width: 60px;
	display: block;
	text-align: center;
	margin-top: 40px;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 15px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -737px;
	overflow: hidden;
	color: #0071BC;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.menu-item-7 > span a:hover, .menu-item-7 > span a.selected { 
	background-position: -100px -737px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

.menu-item-8 > span a {
	position: relative;
	font-weight: bold;
	width: 90px;
	display: block;
	text-align: center;
	margin-top: 40px;
	padding-top: 25px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -837px;
	overflow: hidden;
	color: #E00A0A;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.menu-item-8 > span a:hover, .menu-item-8 > span a.selected { 
	background-position: -100px -837px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

.menu-item-9 > span a {
	position: relative;
	font-weight: bold;
	width: 124px;
	display: block;
	text-align: center;
	margin-top: 41px;
	padding-top: 25px;
	height: 80px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -938px;
	overflow: hidden;
	color: #E3288D;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.menu-item-9 > span a:hover, .menu-item-9 > span a.selected { 
	background-position: -125px -938px;
	color: #FFF;
	cursor: pointer;
	cursor: hand;
}

#flyout-container {
	z-index: 3;
}

.below-flyout-container {
	z-index: 2; /* to move below #flyout-container */
}

#flyout-container a {
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.submenu > li span a {
	color: #FFF;
}

.submenu > li span a:hover {
	color: #111;
}

.submenu-item-2 {
	left: 157px;
	top: 45px;
	width: 163px;
	height: 66px;
	margin-left: 39px;
	padding: 57px 0 0 0;
	margin-top: -93px !important;
	background: transparent url(../img/spritesheet.png) no-repeat -600px -259px;
}

.submenu-item-3 {
	left: 287px;
	top: 50px;
	width: 155px;
	margin-left: 20px;
	padding: 66px 0 0 0;
	margin-top: -102px !important;
	background: transparent url(../img/spritesheet.png) no-repeat -800px -252px;
	height: 74px;
}

.submenu-item-4 {
	left: 370px;
	top: 50px;
	width: 170px;
	margin-left: 20px;
	padding: 58px 0 0 0;
	margin-top: -99px !important;
	background: transparent url(../img/spritesheet.png) no-repeat -1001px -256px;
	height: 106px;
}

.submenu-item-5 {
	left: 498px;
	top: 50px;
	width: 130px;
	padding: 65px 0 0 0;
	margin-top: -102px !important;
	background: transparent url(../img/spritesheet.png) no-repeat -1197px -253px;
	height: 74px;
}

.submenu-item-2 a, .submenu-item-3 a, .submenu-item-4 a, .submenu-item-5 a {
	margin:	4px;
}

.submenu-item-2 a:hover, .submenu-item-3 a:hover, .submenu-item-4 a:hover, .submenu-item-5 a:hover {
	cursor: pointer;
	cursor: hand;
}

footer {
	background: url(../img/spritesheet.png) repeat-x -400px 0px;
	width: 100%;
	height: 238px;
	position: relative;	
	float: left;
	top: 20px;
}

footer .content {
	position: relative;
	width: 1010px;
	left: 50%;
	margin-left: -505px;
}

footer .address {
	position: relative;
	width: 425px;
	font-family: Verdana, Arial, serif;
	color: #FFF;
	font-size: 12px;
	float: left;
	top: 159px;
}

footer .address h4, footer .address p {
	margin: 0px;
	line-height: 12px;
}

footer .address a {
	text-decoration: none;
	color: #FFF;
}

footer .address .left {
	position: relative;
	width: 213px;
	float: left;
}

footer .address .right {
	position: relative;
	width: 212px;
	float: left;
	top: 12px;
}

footer .extra-links {
	position: relative;
	float: left;
	font-size: 12px;
	font-family: Verdana, Arial, serif;
	color: #0CAAD7;
	text-transform: uppercase;
	top: 10px;
}

footer .extra-links a {
	color: #0CAAD7;
	text-decoration: none;
	margin-right: 5px;
}

footer .extra-links a:hover {
	color: #FFF;
}

footer .extra-links {
	position: absolute;
	top: 45px;
}

footer .extra-links ul, footer .extra-links ul li {
	display: inline-block;
	list-style: none;
	margin:	0;
	padding: 0;
}

footer .tabs {
	position: relative;
	width: 576px;	
	float: left;
	top: 134px;
}

footer .tabs ul, footer .tabs ul li {
	display: inline-block;
	list-style: none;
	margin:	0;
	padding: 0;
	float: left;
	font-family : Comic Sans MS, Comic Sans MS5, cursive, Arial;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}

footer .tabs a {
	color: #FFF;
	text-decoration: none;
	width: 108px;
	height: 55px;
	background: url(../img/spritesheet.png) -298px -943px no-repeat;
	padding-left: 18px;
	padding-right: 18px;
}

footer .tabs a.smaller {
	font-size: 10px;
	padding-top: 15px;
}

footer .tabs a:hover {
	background: url(../img/spritesheet.png) -449px -943px no-repeat;
}

footer .tabs .tab-0,
footer .tabs .tab-1  {
	padding-top: 17px;
}

footer .tabs .tab-2,
footer .tabs .tab-3  {
	padding-top: 10px;
}

.fr { display: none; } /* language stuff invisible by default */
.en { display: none; } /* language stuff invisible by default */

.to-blog {
	width: 141px;
	height: 130px;
	background: url(../img/spritesheet.png) -400px -285px;
	text-indent: -9999em;
	float: right;
	font-size: 1px;
}

.to-blog a,
.to-blog a:visited,
.to-blog a:active,
.to-blog a:hover {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 130px;
	font-size: 1px;
}

.social {
	padding: 5px;
	position: relative;
	float: left;
}

.fb {
	position: relative;
	float: left;
	width: 20px;
	height: 21px;
	background: url(../img/icon_facebook.png) no-repeat;
	display: block;
	text-indent: -999em;
}

.fb a {
	display: block;
	width: 20px;
	height: 21px;
}

#page-accueil, 
#page-presentation,
#page-atelierbebeparents {
	position: relative;
	width: 1030px;
	font-size: 12px;
}

#page-accueil .top, 
#page-presentation .top,
#page-atelierbebeparents .top {
	width: 100%;
	height: 70px;
	position: relative;
	float: left;
	margin-top: -14px;
}

#page-accueil .top {
	background: url(../img/header_white.png) no-repeat;
}

#page-presentation .top {
	background: url(../img/header_orange_red.png) no-repeat;
}

#page-atelierbebeparents .top {
	background: url(../img/header_yellow.png) no-repeat;
}

#page-accueil .content, 
#page-presentation .content,
#page-atelierbebeparents .content {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	min-height: 517px;
	background: url(../img/bg_without_footer2.png) no-repeat;
}

#page-accueil .content-area, 
#page-presentation .content-area,
#page-atelierbebeparents .content-area {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	background: url(../img/bg_extensive_footer_1.png) repeat-y;
}

#page-accueil .slideshow {
	position: relative;
	float: left;
	width: 720px;
	height: 360px;
	margin-left: 18px;
	background: url(../img/home_pic_box.png) no-repeat;
}

#page-accueil .slideshow img {
	position: absolute;
}

#page-accueil .slideshow .slide {
	width: 652px;
	height: 311px;
	overflow: hidden;
	top: 23px;
	left: 31px;
}

#page-accueil .newsbox {
	position: relative;
	float: left;
	width: 280px;
	height: 360px;
	margin-left: -8px;
	background: url(../img/news_bg.png) no-repeat;
}

#page-accueil .newsbox .news {
	width: 75%;
	margin-left: 30px;
	padding-right: 10px;
	text-align: justify;
	margin-top: 70px;
	height: 255px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#page-accueil .welcome {
	position: relative;
	float: left;
	width: 460px;
	padding: 0 40px;
	min-height: 200px;
	margin-left: 25px;
}

#page-accueil .welcome img {
	display: none;	/* Hide images loaded from post_content to "welcome" sections. */
}

#page-accueil .welcome h2 {
	position: relative;
	width: 284px;
	height: 50px;
	text-indent: -9999em;
}

#page-accueil .welcome h2.fr {
	background: url(../img/spritesheet.png) no-repeat -1400px -358px;
}

#page-accueil .welcome h2.en {
	background: url(../img/spritesheet.png) no-repeat -1400px -300px;
}

#page-accueil .welcome .welcome-text {
	position: relative;
}

#page-accueil .banner {
	position: relative;
	float: left;
	width: 400px;
	height: 180px;
}

#page-accueil .banner a {
	width: 400px;
	height: 180px;
	display: block;
	text-indent: -9999em;
}

#page-accueil .banner .fr {
	
	background: url(../img/spritesheet.png) no-repeat -1703px -300px;
}


#page-accueil .banner .en {
	background: url(../img/spritesheet.png) no-repeat -1703px -499px;
}

#page-accueil .footer, 
#page-presentation .footer,
#page-atelierbebeparents .footer {
	position: relative;
	float: left;
	width: 100%;
	height: 35px;
}

#page-accueil .footer {
	background: url(../img/bg_footer.png) no-repeat;
}

#page-presentation .footer {
	background: url(../img/bg_footer_orange_red.png) no-repeat;
}

#page-atelierbebeparents .footer {
	background: url(../img/bg_footer_yellow.png) no-repeat;
}

#page-presentation .left-col {
	width: 665px;
	padding-left: 5px;
	position: relative;
	float: left;
}

#page-presentation .right-col {
	width: 310px;
	min-height: 100px;
	position: relative;
	float: left;
}

#page-presentation .quisommesnous {
	position: relative;
	display: block;
	margin-left: 30px;
	padding: 20px 5px;
	width: 600px;
}

#page-presentation .quisommesnous h2 {
	width: 420px;
	height: 45px;
	text-indent: -9999em;
}

#page-presentation .quisommesnous.fr h2 {
	background: url(../img/spritesheet.png) no-repeat -800px -500px;
}

#page-presentation .quisommesnous.en h2 {
	background: url(../img/spritesheet.png) no-repeat -800px -550px;
}

#page-presentation .lecentre h2 {
	width: 200px;
	height: 55px;
	text-indent: -9999em;
}

#page-presentation .lecentre.fr h2 {
	background: url(../img/spritesheet.png) no-repeat -800px -600px;
}

#page-presentation .lecentre.en h2 {
	background: url(../img/spritesheet.png) no-repeat -1000px -600px;
}

#page-presentation .lecentre {
	position: relative;
	float: left;
	width: 590px;
	height: 310px;
	margin-left: 18px;
	padding: 25px 25px 0 25px;
	background: url(../img/presentation_middlebg.jpg) no-repeat;
}

#page-presentation .lecentre img {
	margin-top: -80px !important;
}

#page-presentation .lequipe	 {
	position: relative;
	float: left;
	width: 600px;
	height: 180px;
	margin-left: 30px;
	padding: 5px 30px 5px 10px;
	background: url(../img/presentation_orange.jpg) no-repeat;
}

#page-presentation .lequipe h2 {
	width: 185px;
	height: 35px;
	text-indent: -9999em;
}

#page-presentation .lequipe.fr h2 {
	background: url(../img/spritesheet.png) no-repeat -1300px -500px;
}

#page-presentation .lequipe.en h2 {
	background: url(../img/spritesheet.png) no-repeat -1300px -550px;
}

#page-presentation .sponsors {
	position: relative;
	width: 260px;
	height: 600px;
	top: 55px;
	padding: 5px 30px;
	background: url(../img/presentation_rhs.jpg) no-repeat;
}

#page-presentation .sponsors {
	text-align: center;
}

#page-presentation .sponsors .images {
	padding-top: 10px;
}

#page-presentation .sponsors h1, 
#page-presentation .sponsors h2,
#page-presentation .sponsors h3,
#page-presentation .sponsors h4,
#page-presentation .sponsors h5,
#page-presentation .sponsors h6 {
	font-family : Comic Sans MS, Comic Sans MS5, cursive, Arial;
	color: #FF0000;
	font-size: 200%;
	line-height: 75%;
}

#page-atelierbebeparents .left-col {
	position: relative;
	width: 45%;
	height: auto;
	float: left;
	padding-left: 40px;
	top: 60px;
} 

#page-atelierbebeparents .left-col h2 {
	font-family : Comic Sans MS, Comic Sans MS5, cursive, Arial;
	color: #f2a823;
	line-height: 26px;
	text-transform: uppercase;
}

#page-atelierbebeparents .left-col img {
	margin: -4px 0;
}

#page-atelierbebeparents .right-col {
	position: relative;
	width: 49%;
	height: auto;
	float: left;
}

#page-atelierbebeparents .right-col .illustration {
	position: relative;
	width: 420px;
	height: 220px;
}

.illustration-1 {
	background: url(../img/pic_32_le_massage_bebe.png) no-repeat;
}

.illustration-2 {
	background: url(../img/pic_32_la_gym_bebe.png) no-repeat;
}

.illustration-3 {
	background: url(../img/pic_32_chanter_avec_bebe.png) no-repeat;
}

#page-atelierbebeparents .right-col .table {
	position: relative;
	width: 420px;
	height: 295px;
	background: url(../img/planning_tb_yellow.png) no-repeat;
	margin-left: 30px;
	text-align: right;
}

#page-atelierbebeparents .right-col .table h3 {
	color: #F2A822;
	margin-bottom: -10px;
}

#page-atelierbebeparents .right-col .schedule {
	float: left;
	margin-top: 95px;
	margin-left: 70px;
}

#page-atelierbebeparents .right-col .costs {
	float: left;
	width: 140px;
	margin-top: 95px;
	margin-left: 50px;
}

#page-atelierbebeparents .headerinfo {
	position: absolute;
	text-align: right;
	margin-left: 780px;
	margin-top: -52px;
	width: 200px;
	z-index: 2;
	font-family: Comic Sans MS, Comic Sans MS5, cursive, Arial;
	font-weight: bold;
	color: #FFF;
	font-size: 15px;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}